/* extra small */
@media screen and (max-width: 370px) {
  .container {
    width: 100%;
    overflow:visible;
  }

  #nav {
    text-align: center;
  }
  #nav .nav_links {
   display: none;
  }
  #banner {
    height: auto;
    
  }
  #banner .container .banner_content{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px;

  }
  #banner .container .banner_content h2{
    font-size: 25px;
    margin: 0;
    padding-bottom: 0;
  }
  #banner .container .banner_content h1{
    font-size: 30px;
    margin: 10px 0;
  }
  #banner .container .banner_content p{
    text-align: justify;
    font-family:sans-serif;
    letter-spacing: .2px;
    word-spacing: 1px;
  }
  #banner .container .banner_content .btns ul {
    display: block;
    padding-left: 0;
    margin-bottom: 0;
    height: auto;
    width: 100%;
  }
  #banner .container .banner_content .btns ul li {
    padding: 15px;
    margin: 0;
  }


  #aboutus {
    margin: 20px 0;
    padding: 0;
  }
  #aboutus .container .left-site {
    justify-content: center;
  }
  #aboutus .container .left-image {
    width: -1%;
  }
  #aboutus .container .right-site p{
    line-height: normal;
    text-align: center;
    font-size: 13px;
  }
  #aboutus .container .right-site p:last-child{
    display: none;
  }

  #service .common_heading {
    margin-bottom: 0;
  }

  #service .service_body {
    margin: 5px 0;
  }
  #service .container .service_body .top .top-top {
    height: 65px;
    width: 65px;
  } 
  #service .service_body .top .icon {
    width: 70px;
    height: 70px;
  }
  #service .container .bottom p {
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 0;
    font-size: 11px;
  }

  #portfollio .container .common_heading {
    padding-bottom: 0;
  }

  #testimonial .top img {
    position: absolute;
 
    border: 1px solid black;
  }
  #testimonial .bottom{
    margin-bottom: 20px;
  }

}

/* small device */
@media (min-width: 370px) and (max-width: 570px) {
  

}
@media (max-width: 768px) {
  #aboutus .container .right-site p {
    text-align: justify;
  }
  #banner .container .banner_content {
    text-align: center;
  }

  #nav .container .nav_links ul li a {
    font-size: 10px;
    padding: 5px 10px;
  }
  #aboutus .container .left-image {
    text-align: center;
  }

  .hide-sm {
    display: none;
  }
  #aboutus {
    padding: 0;
  }
  #service .service_body {
    margin: 5px 0;
  }


  #testimonial .bottom{
    margin-bottom: 20px;
  }
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 570px) { 
  
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  
}
