h1{
	color:red;
	text-decoration: underline;
	
	
}
p {
	font-size: 25px;
	font-family: 'trebucht MS', sans-serif;
}
.number{
	background-color:white;
	border:none;
	border-radius:5px;
	display:block;
	color:black;
	margin: 5px;
	float:right;
}
.number:hover{
	padding-bottom:10px;
	
}
.calculator{
	width:312px;
	height:450px;
	borde-radius:5px;
	border:1px solid black;
	margin:10px auto;
	margin-top:5px;
}
.input{
	float:right;
	margin-top:100px;
	
		
}
button{
	float:right;
	width:25px;
	margin:20px;
	
}